# ---------------------------------------------
# IGNORE SPARK BINARIES & JARS (DO NOT COMMIT)
# ---------------------------------------------
spark-*.tgz
spark-3.*.tgz
spark/spark-*/
spark/jars/
spark/jars/*
*.jar

# Windows/WSL metadata files
*:Zone.Identifier
*.Identifier
*.identifier
*.pub
Incremental

# ---------------------------------------------
# PYTHON CACHE
# ---------------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# venv or conda envs
env/
venv/
.venv/
.incremental_env/

# ---------------------------------------------
# AIRFLOW RUNTIME FILES
# ---------------------------------------------
airflow/logs/
airflow/__pycache__/
airflow/dags/__pycache__/

# ---------------------------------------------
# LOCAL DATA (pipeline outputs)
# ---------------------------------------------
app/data/
data/

# ---------------------------------------------
# DOCKER BUILD FILES
# ---------------------------------------------
*.log
*.pid

# ---------------------------------------------
# OS SYSTEM FILES
# ---------------------------------------------
.DS_Store
Thumbs.db
