version: '3.8'

services:
  minio:
    image: minio/minio
    container_name: minio
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001"
    networks:
      - pipeline_net

  spark-master:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: spark-master
    environment:
      - SPARK_MODE=master
    ports:
      - "8081:8080"
      - "7077:7077"
    networks:
      - pipeline_net

  spark-worker:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: spark-worker
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
      - SPARK_WORKER_MEMORY=2G
      - SPARK_WORKER_CORES=2
    depends_on:
      - spark-master
    networks:
      - pipeline_net

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: coinapi_app
    env_file: .env
    environment:
      - SPARK_MASTER=spark://spark-master:7077
    volumes:
      - app_data:/app/data
    depends_on:
      - minio
      - spark-master
      - spark-worker
    networks:
      - pipeline_net

  airflow:
    image: apache/airflow:2.9.0
    container_name: airflow
    restart: always
    env_file: .env
    environment:
      AIRFLOW__CORE__FERNET_KEY: "dummy_fernet_key"
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__CORE__EXECUTOR: "SequentialExecutor"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - app_data:/app/data
    ports:
      - "8080:8080"
    depends_on:
      - app
      - minio
      - spark-master
      - spark-worker
    command: >
      bash -c "
      airflow db init &&
      airflow users create --username admin --password admin --firstname admin --lastname admin --role Admin --email admin@example.com || true &&
      airflow webserver &
      airflow scheduler
      "
    networks:
      - pipeline_net
  
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: analytics_db
    ports:
      - "5432:5432"


volumes:
  minio_data:
  app_data:

networks:
  pipeline_net:
    driver: bridge
