version: '3.8'

services:
  minio:
    image: minio/minio
    container_name: minio
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001"
    networks:
      - pipeline_net

  spark-master:
    image: bitnami/spark:3.5.1-debian-12
    container_name: spark-master
    environment:
      - SPARK_MODE=master
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
      - SPARK_USER=spark
    ports:
      - "8081:8080"
      - "7077:7077"
    volumes:
      - ./spark/jars:/opt/bitnami/spark/jars
    networks:
      - pipeline_net

  spark-worker:
    image: bitnami/spark:3.5.1-debian-12
    container_name: spark-worker
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
      - SPARK_WORKER_MEMORY=2G
      - SPARK_WORKER_CORES=2
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
      - SPARK_USER=spark
    depends_on:
      - spark-master
    volumes:
      - ./spark/jars:/opt/bitnami/spark/jars
    networks:
      - pipeline_net

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: coinapi_app
    env_file: .env
    environment:
      - SPARK_MASTER=spark://spark-master:7077
    volumes:
      - app_data:/app/data
    depends_on:
      - minio
      - spark-master
      - spark-worker
    networks:
      - pipeline_net

  airflow:
    image: apache/airflow:2.9.0
    container_name: airflow
    restart: always
    env_file: .env
    environment:
      AIRFLOW__CORE__FERNET_KEY: "dummy_fernet_key"
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__CORE__EXECUTOR: "SequentialExecutor"
      SPARK_MASTER: "spark://spark-master:7077"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - app_data:/app/data
    ports:
      - "8080:8080"
    depends_on:
      - app
      - minio
      - spark-master
      - spark-worker
    networks:
      - pipeline_net

volumes:
  minio_data:
  app_data:

networks:
  pipeline_net:
    driver: bridge
